include README.md
include LICENSE
include INSTALL
include src/python/_version.py
recursive-include doc *
recursive-include examples *
recursive-include src *
recursive-include tests *.py
recursive-include tests *.mps
